/* Light mode by default */
:root {
    --bg-color: #4F9ACC;
    --text-color: #000000;
    --primary-color: #f359a1;
    --button-color: #DDD9F1;
    --button-radius: 0 0 10px 10px;
}

/* Dark mode */
[data-theme="dark"] {
    --bg-color: #6738A5;
    --text-color: #ffffff;
    --primary-color: #EACA43;
    --button-color: #DDD9F1;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    display: flex;
    align-items: stretch;
    gap: 8px;
    padding: 10px;
    font-size: 16px;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 5px;
}

.header h1 {
    margin: 0;
    font-size: inherit;
    font-weight: normal;
}

.header > * {
    border-radius: var(--button-radius);
    background-color: var(--button-color);
    padding: 5px;
    border: #000000 solid 1px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: inherit;
    font-family: inherit;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 5px;
}

button {
    background-color: var(--button-color);
    color: var(--text-color);
}